
@media screen and (max-width: 800px){

    #area{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 200px;
    }

    #menu{
        width: 95vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        .num{
            background: rgba(#00106D, 0.05);
            color: #00106D;

            width: 8vw;
            height: 8vw;
            margin: 1.5vw;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.1s ease;

            h2{
                font-size: 3vw;
                font-weight: 500;
                line-height: 8vw;
                margin: 0;
                text-align: center;
            }

            &.active{
                background: #6355ff;
                color: white;
            }

        }
    }

    .question{
        width: 78vw;
        background: white;
        box-shadow: 0 10px 50px rgba(#00106D, 0.08), inset 0 -5px 10px rgba(black, 0.03);
        padding: 3vw 5vw;
        border-radius: 15px;
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s ease;


        h1{
            font-size: 18px;
            letter-spacing: 0.05px;
            margin-bottom: 36px;
        }

        // Image
        .grid{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .img{
                border: 2px solid rgba(#00106D, 0);
                border-radius: 15px;
                padding: 5px;
                width: 43%;
                margin: 0.5vw;
                transition: 0.2s ease;
                height: fit-content;
                img{
                    width: 100%;
                    border-radius: 10px;
                }
                &:hover{
                    transform: scale(1.03);
                    background: rgba(#00106D, 0.08);
                }
                &.active{
                    border: 2px solid #6355ff;
                }
            }

        }


        // Choice
        .choices{
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-bottom: -10px;

            h3{
                margin: 0;
                margin-top: -5px;
                margin-bottom: 10px;
                font-weight: 500;
                font-size: 14px;
                color: rgba(black, 0.3);
            }


            .choice{
                background: rgba(#00106D, 0.05);
                border: 2px solid rgba(#00106D, 0);
                //box-shadow: 0 5px 10px rgba(#00106D, 0.03), inset 0 -5px 10px rgba(black, 0.01);
                padding: 18px;
                margin-bottom: 15px;
                border-radius: 15px;
                transition: 0.2s ease;
                cursor: pointer;
                p{
                    font-size: 14px;
                    margin: 0;
                    span{
                        opacity: 0.4;
                    }
                }

                &:hover{
                    transform: scale(1.03);
                    background: rgba(#00106D, 0.08);
                }
                &.active{
                    border: 2px solid #6355ff;
                }
            }

            .sortable{
                display: flex;
                background: rgba(#00106D, 0.05);
                border: 2px solid rgba(#00106D, 0);
                //box-shadow: 0 5px 10px rgba(#00106D, 0.03), inset 0 -5px 10px rgba(black, 0.01);
                padding: 18px;
                margin-bottom: 15px;
                border-radius: 15px;
                transition: 0.2s ease;
                cursor: pointer;
                .handle{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-right: 12px;
                    .bar{
                        background: rgba(black, 0.2);
                        height: 2px;
                        width: 16px;
                        margin: 1.5px;
                    }
                }
                p{
                    font-size: 14px;
                    margin: 0;
                    span{
                        opacity: 0.4;
                    }
                }

                &.bro{
                    background: rgba(#6355ff, 0.1);
                }

                &:hover{
                    transform: scale(1.03);
                    background: rgba(#00106D, 0.08);
                }
            }
        }

        input{
            outline: none;
            background: rgba(#00106D, 0.05);
            border: 2px solid rgba(#00106D, 0);
            padding: 18px;
            margin-bottom: 15px;
            border-radius: 15px;
            transition: 0.2s ease;
            width: 88%;
            font-size: 14px;

            &:hover{
                border: 2px solid #6355ff;
            }
        }

        button{
            border: none;
            background: #6355ff;
            width: 100%;
            color: white;
            border-radius: 14px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.2px;
            margin-top: 0;
            font-family: Plus Jakarta Sans, Inter, sans-serif;
            transition: 0.2s ease;
            cursor: pointer;

            height: 0;
            visibility: hidden;
            opacity: 1;
            padding: 0;

            &:hover{
                transform: scale(1.03);
                background: #3636d9;
            }
            &.active{
                height: fit-content;
                visibility: visible;
                opacity: 1;
                padding: 16px;
                margin-top: 20px;
            }
        }

        &.active{
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }

    #end{
        position: fixed;
        top: 100vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #6355ff;
        z-index: 3;

        transition: 0.5s ease;


        &.active{
            top: 0;
        }

        #result{
            position: absolute;
            width: 90vw;
            left: 5vw;
            top: 75vh;
            transition: 0.2s ease;
        }

        .expo{
            position: absolute;
            width: 86vw;
            left: 7vw;
            top: 5vw;
            color: white;
            h2{
                font-size: 5vw;
                margin-bottom: 0;
                font-weight: 400;
            }
            h1{
                font-size: 10vw;
                line-height: 100%;
                letter-spacing: 0.1px;
                margin: 0;
                margin-bottom: 1.5vw;
                margin-top: 2vw;
            }

            h3{
                font-size: 4vw;
                font-weight: 300;
                line-height: 140%;
                span{
                    font-weight: 500;
                }
            }

            button{
                border: none;
                color: black;
                width: 86vw;
                height: 15vw;
                background: white;
                border-radius: 100px;
                font-family: Plus Jakarta Sans, Inter, sans-serif;
                font-size: 4.5vw;
                font-weight: 700;
                margin-top: 1.5vw;
                transition: 0.2s ease;
                cursor: pointer;
                &:hover{
                    padding: 1.7vw 6vw;
                }
            }

            h4{
                font-weight: 400;
            }

            .bubble{

                background: rgba(white, 0.1);
                //box-shadow: 0 10px 20px rgba(black, 0.1);
                padding: 5px 25px;
                padding-bottom: 0px;
                border-radius: 20px;
                text-align: center;
                margin-top: 5vw;
            }

            .gallery{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 100%;

                a{
                    color: white;
                    text-decoration: none;
                }
                .avatar{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 20px;
                    padding: 5px;
                    width: 90px;
                    //background: rgba(white, 0);
                    //box-shadow: 0 10px 20px rgba(black, 0.1);
                    transition: 0.2s ease;
                    img{
                        width: 80px;
                        height: 80px;
                        border-radius: 100px;
                        box-shadow: 0 10px 20px rgba(black, 0.2);
                    }
                    h1{
                        font-size: 16px;
                        font-weight: 600;
                        margin: 0;
                        margin-bottom: 5px;
                        margin-top: 15px;
                    }
                    h2{
                        font-size: 13px;
                        margin: 0;
                        font-weight: 300;
                        margin-bottom: 10px;
                        color: rgba(white, 0.7);
                        padding-bottom: 15px;
                    }
                    h3{
                        display: none;
                        font-size: 13px;
                        line-height: 130%;
                        margin: 0;
                        color: rgba(white, 0.5);
                    }


                }
            }
        }

    }


    #splash{
        position: fixed;
        top: 100vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #6355ff;
        z-index: 3;

        transition: 0.5s ease;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;

        h1{
            text-align: center;
            width: 80%;
            font-size: 40px;
        }

        button{
            border: none;
            color: black;
            width: 80vw;
            height: 20vw;
            background: white;
            border-radius: 100px;
            font-family: Plus Jakarta Sans, Inter, sans-serif;
            font-size: 7vw;
            font-weight: 700;
            margin-top: 1.5vw;
            transition: 0.2s ease;
            cursor: pointer;
        }

        &.active{
            top: 0;
        }

    }
}