@media screen and (max-width: 800px) {
  #area {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 200px;
  }
  #menu {
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #menu .num {
    background: rgba(0, 16, 109, 0.05);
    color: #00106D;
    width: 8vw;
    height: 8vw;
    margin: 1.5vw;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
  }
  #menu .num h2 {
    font-size: 3vw;
    font-weight: 500;
    line-height: 8vw;
    margin: 0;
    text-align: center;
  }
  #menu .num.active {
    background: #6355ff;
    color: white;
  }
  .question {
    width: 78vw;
    background: white;
    -webkit-box-shadow: 0 10px 50px rgba(0, 16, 109, 0.08), inset 0 -5px 10px rgba(0, 0, 0, 0.03);
            box-shadow: 0 10px 50px rgba(0, 16, 109, 0.08), inset 0 -5px 10px rgba(0, 0, 0, 0.03);
    padding: 3vw 5vw;
    border-radius: 15px;
    display: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .question h1 {
    font-size: 18px;
    letter-spacing: 0.05px;
    margin-bottom: 36px;
  }
  .question .grid {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .question .grid .img {
    border: 2px solid rgba(0, 16, 109, 0);
    border-radius: 15px;
    padding: 5px;
    width: 43%;
    margin: 0.5vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .question .grid .img img {
    width: 100%;
    border-radius: 10px;
  }
  .question .grid .img:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    background: rgba(0, 16, 109, 0.08);
  }
  .question .grid .img.active {
    border: 2px solid #6355ff;
  }
  .question .choices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-bottom: -10px;
  }
  .question .choices h3 {
    margin: 0;
    margin-top: -5px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
  }
  .question .choices .choice {
    background: rgba(0, 16, 109, 0.05);
    border: 2px solid rgba(0, 16, 109, 0);
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 15px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .question .choices .choice p {
    font-size: 14px;
    margin: 0;
  }
  .question .choices .choice p span {
    opacity: 0.4;
  }
  .question .choices .choice:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    background: rgba(0, 16, 109, 0.08);
  }
  .question .choices .choice.active {
    border: 2px solid #6355ff;
  }
  .question .choices .sortable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(0, 16, 109, 0.05);
    border: 2px solid rgba(0, 16, 109, 0);
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 15px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .question .choices .sortable .handle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 12px;
  }
  .question .choices .sortable .handle .bar {
    background: rgba(0, 0, 0, 0.2);
    height: 2px;
    width: 16px;
    margin: 1.5px;
  }
  .question .choices .sortable p {
    font-size: 14px;
    margin: 0;
  }
  .question .choices .sortable p span {
    opacity: 0.4;
  }
  .question .choices .sortable.bro {
    background: rgba(99, 85, 255, 0.1);
  }
  .question .choices .sortable:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    background: rgba(0, 16, 109, 0.08);
  }
  .question input {
    outline: none;
    background: rgba(0, 16, 109, 0.05);
    border: 2px solid rgba(0, 16, 109, 0);
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 15px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    width: 88%;
    font-size: 14px;
  }
  .question input:hover {
    border: 2px solid #6355ff;
  }
  .question button {
    border: none;
    background: #6355ff;
    width: 100%;
    color: white;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-top: 0;
    font-family: Plus Jakarta Sans, Inter, sans-serif;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
    height: 0;
    visibility: hidden;
    opacity: 1;
    padding: 0;
  }
  .question button:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    background: #3636d9;
  }
  .question button.active {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    visibility: visible;
    opacity: 1;
    padding: 16px;
    margin-top: 20px;
  }
  .question.active {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  #end {
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #6355ff;
    z-index: 3;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  #end.active {
    top: 0;
  }
  #end #result {
    position: absolute;
    width: 90vw;
    left: 5vw;
    top: 75vh;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #end .expo {
    position: absolute;
    width: 86vw;
    left: 7vw;
    top: 5vw;
    color: white;
  }
  #end .expo h2 {
    font-size: 5vw;
    margin-bottom: 0;
    font-weight: 400;
  }
  #end .expo h1 {
    font-size: 10vw;
    line-height: 100%;
    letter-spacing: 0.1px;
    margin: 0;
    margin-bottom: 1.5vw;
    margin-top: 2vw;
  }
  #end .expo h3 {
    font-size: 4vw;
    font-weight: 300;
    line-height: 140%;
  }
  #end .expo h3 span {
    font-weight: 500;
  }
  #end .expo button {
    border: none;
    color: black;
    width: 86vw;
    height: 15vw;
    background: white;
    border-radius: 100px;
    font-family: Plus Jakarta Sans, Inter, sans-serif;
    font-size: 4.5vw;
    font-weight: 700;
    margin-top: 1.5vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }
  #end .expo button:hover {
    padding: 1.7vw 6vw;
  }
  #end .expo h4 {
    font-weight: 400;
  }
  #end .expo .bubble {
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 25px;
    padding-bottom: 0px;
    border-radius: 20px;
    text-align: center;
    margin-top: 5vw;
  }
  #end .expo .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  #end .expo .gallery a {
    color: white;
    text-decoration: none;
  }
  #end .expo .gallery .avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    padding: 5px;
    width: 90px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #end .expo .gallery .avatar img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  #end .expo .gallery .avatar h1 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  #end .expo .gallery .avatar h2 {
    font-size: 13px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 15px;
  }
  #end .expo .gallery .avatar h3 {
    display: none;
    font-size: 13px;
    line-height: 130%;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #splash {
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #6355ff;
    z-index: 3;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
  }
  #splash h1 {
    text-align: center;
    width: 80%;
    font-size: 40px;
  }
  #splash button {
    border: none;
    color: black;
    width: 80vw;
    height: 20vw;
    background: white;
    border-radius: 100px;
    font-family: Plus Jakarta Sans, Inter, sans-serif;
    font-size: 7vw;
    font-weight: 700;
    margin-top: 1.5vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }
  #splash.active {
    top: 0;
  }
}
/*# sourceMappingURL=mobile.css.map */